@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Dancing+Script:wght@400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=League+Spartan:wght@100..900&family=Manufacturing+Consent&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue: #0188df;
    --black: #333;
    --white: #fff;
}

/* Reset */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    box-sizing: border-box;
    transition: all linear .2s;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

/* ======================
   HEADER SECTION
========================*/
header {
    width: 96%;
    background: var(--white);
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 1rem;
}

/* Logo */
header .logo {
    font-size: 3rem;
    color: var(--black);
}
header .logo span {
    color: var(--blue);
}

/* Navbar Links */
header .navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
header .navbar ul li {
    margin: 0 1rem;
}
header .navbar ul li a {
    font-size: 2rem;
    color: var(--black);
}
header .navbar ul li a:hover {
    color: var(--blue);
}

/* Hamburger Icon  */
header .fa-bars {
    font-size: 3rem;
    cursor: pointer;
    color: var(--blue);
    display: none;
}
/* Cross icon rotation */
header .fa-x {
    color: var(--blue);
    font-size: 3rem;
    transform: rotate(180deg);
}
/* Home Section */
.home {
    min-height: 100vh;
    padding-top: 10rem;
}
.home .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 85%;
    margin: 0 auto;
}
/* Home Images */
.home .row .images img {
    height: 75vh;
}
.home .content h1 {
    font-size: 4rem;
    color: var(--black);
}
.home .content h1 span {
    color: var(--blue);
}
.home .content p {
    font-size: 1.6rem;
    color: var(--black);

}
/*About Section*/
.about {
    background: var(--white);

}
.about .box-container .box {
    width: 75%;
    margin: 4rem auto;
    border-radius: .5rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    overflow: hidden;
    background: var(white);

}
/* About Image */
.about .box-container .box .images {
    height: 40rem;
    width: 50%;

}
.about .box-container .box .images img {
    height: 100%;
    width: 100%;

}
/* About Heading and Text*/
.about .box-container .box .content {
    height: 100%;
    width: 50%;
    padding: 2rem;
}
.about .box-container .box .content h3 {
    font-size: 3rem;
    color: var(--blue);
    display: flex;
    align-items: start;

}
.about .box-container .box .content p {
    font-size: 1.5rem;
    color: var(--black);
    margin: 1rem 0;
    text-align: start;
}
.about .box-container .box:nth-child(even) {
    flex-flow: row-reverse;

}
/* Doctor Section */
.card .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
/* Card Box */
.card .box-container .box {
    width: 30rem;
    margin: 2rem 1rem;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.3);

}
/* Card Image */
.card .box-container .box img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
}
.card .box-container .box .content {
    padding: 1rem 1.3rem;


}
.card .box-container .box .content h2 {
    font-size: 2rem;
    text-align: center;
    color: var(--black);
}

.card .box-container .box .content h2:hover {
    color: var(--blue);
    text-decoration: underline;

}

.card .box-container .box .content p {
    font-size: 1.7rem;
    text-align: center;
    color: var(--black);
}
.card .box-container .box .content .icons {
    text-align: center;


}
.card .box-container .box .content .icons a {
    font-size: 2rem;
    color: var(--blue);
    text-align: center;
    margin: 1rem;
}
/*Review Section*/
.review .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;

}
.review .box-container .box {
    width: 35rem;
    text-align: center;
    padding: 0 2rem;
    margin: 4rem 1.5rem;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.3);
}
/* Review Image */
.review .box-container .box .images {
    display: flex;
    align-items: center;
    text-align: left;
    padding: .5rem 0;
    border-top: .1rem solid #333;
}
.review .box-container .box .images img {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    object-fit: cover;
    margin: .8rem 1rem;

}
.review .box-container i {
    font-size: 6rem;
    margin-top: -3rem;
    color: var(--blue);
    opacity: .4;
}
.review .box-container p {
    color: var(--black);
    font-size: 1.7rem;
    padding: 2rem 0;
}
.review .box-container .info h3 {
    color: var(--blue);
    font-size: 1.5rem;
}
.review .box-container .info span {
    color: var(--blue);
    font-size: 1.2rem;
}


/* Button */
.button {
    height: 3.5rem;
    width: 15rem;
    background: var(--blue);
    color: var(--white);
    font-size: 1.7rem;
    text-transform: capitalize;
    border-radius: .5rem;
    cursor: pointer;
    margin: 1rem 0;
    border: .1rem solid var(--blue);
}
.button:hover {
    border: .1rem solid var(--blue);
    background: var(--white);
    color: var(--blue);
    letter-spacing: .2rem;
}



/* heading section */
.heading {
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    padding-top: 8rem;
    color: var(--blue);
    letter-spacing: .1rem;
}
/*title section*/
.title {
    text-align: center;
    padding: 0rem 1rem;
    font-size: 2.5rem;
    color: var(--black);
    font-weight: 300;

}
/*MOBILE NAVBAR*/
@media (max-width:768px) {

    html {
        font-size: 55%;
    }

    /* Show hamburger */
    header .fa-bars,
    header .fa-x {
        display: block;
    }

    /* Hide menu by default */
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--white);
        opacity: 0;
        pointer-events: none;
        transition: .3s ease;
        border-radius: 0 0 1rem 1rem;
    }

    /* Show menu when active */
    header .navbar.active {
        opacity: 1;
        pointer-events: auto;
    }

    /* Mobile menu style */
    header .navbar ul {
        flex-direction: column;
        padding: 2rem 0;
    }

    header .navbar ul li {
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }

    header .navbar ul li a {
        font-size: 3rem;
        display: block;
    }
}
/* About Media Query */
.about .box-container .box {
    width: 90%;
    flex-flow: column;
}