@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Dancing+Script:wght@400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=League+Spartan:wght@100..900&family=Manufacturing+Consent&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --blue: #0188df;
    --black: #333;
    --white: #fff;
}

/* Reset */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    box-sizing: border-box;
    transition: all linear .2s;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

/* ======================
   HEADER SECTION
========================*/
header {
    width: 96%;
    background: var(--white);
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
    border-radius: 1rem;
}

/* Logo */
header .logo {
    font-size: 3rem;
    color: var(--black);
}
header .logo span {
    color: var(--blue);
}

/* Navbar Links */
header .navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}
header .navbar ul li {
    margin: 0 1rem;
}
header .navbar ul li a {
    font-size: 2rem;
    color: var(--black);
}
header .navbar ul li a:hover {
    color: var(--blue);
}

/* Hamburger Icon  */
header .fa-bars {
    font-size: 3rem;
    cursor: pointer;
    color: var(--blue);
    display: none;
}
/* Cross icon rotation */
header .fa-x {
    color: var(--blue);
    font-size: 3rem;
    transform: rotate(180deg);
}


/* ======================
   MOBILE NAVBAR
========================*/
@media (max-width:768px) {

    html {
        font-size: 55%;
    }

    /* Show hamburger */
    header .fa-bars,
    header .fa-x {
        display: block;
    }

    /* Hide menu by default */
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: var(--white);
        opacity: 0;
        pointer-events: none;
        transition: .3s ease;
        border-radius: 0 0 1rem 1rem;
    }

    /* Show menu when active */
    header .navbar.active {
        opacity: 1;
        pointer-events: auto;
    }

    /* Mobile menu style */
    header .navbar ul {
        flex-direction: column;
        padding: 2rem 0;
    }

    header .navbar ul li {
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }

    header .navbar ul li a {
        font-size: 3rem;
        display: block;
    }
}