@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Dancing+Script:wght@400..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=League+Spartan:wght@100..900&family=Manufacturing+Consent&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --blue: #0188df;
    --black: #333;
    --white: #fff;
}
* {
    font-family: 'Roboto', sans-serif;
    margin: 0; padding: 0;
    text-decoration: none;
    text-transform: capitalize;
    outline: none;
    box-sizing: border-box;
    transition: all  linear .2s;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
/* Header Navbar Section */
header{
    width: 96%;
    background: var(--white);
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
}
/* Logo name */
header a{
    color: var(--black);

}
header a:hover{
    color: var(--blue);
}
header .logo{
    font-size: 3rem;
}